/* button{
    background-color: blue !important;
    cursor: pointer;
    font-size: 25px;
    width: 200px !important;
    
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}
h1{
    text-align: center;
} */